.website-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.website-container form {
    max-width: 900px;
    height: 700px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 200px;

}
.website-container form input {
    color: #fff;
    width: 365px;
    height: 71px;
    outline:none;
    border-radius: 100px;
border: 6px solid #57A0FF;
background: transparent;
margin: 18px;
padding-left: 10px;
padding-right: 10px;
padding-top: 2px ;
}
#hosting {
    color: #fff;
    width: 28px;
    height: 28px;
    border: 6px #57A0FF;
    margin-top: 30px;
    border-radius: 10px;
}
.dugmicitext  {
    font-size: 20px;
    color: #fff;
    margin-top: 28px;
    margin-right: 6px;
    margin-left: 36px;
}
.website-container form input::placeholder {
    font-size: 24px;
    text-align: center;

}
.website-container form textarea {
    width: 750px;
    border-radius: 100px;
    border: 6px solid #57A0FF;
    background: transparent;
    height: 500px;
    color: #fff;
    outline: none;
    padding-left:60px;
    padding-right: 60px;
    padding-top: 10px;
    font-size: 20px;
    font-family: Inter;
}
.website-container form textarea::placeholder {
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
}
#buttonsend3 {
    width: 226px;
    height: 71px;
    margin-left: auto;
    margin-right: auto;
    background-color: #57A0FF;
	color: #1E0B1E;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    border: 6px solid #57A0FF;
    border-radius: 100px;
    margin-top: 18px ;
}
#buttonsend3:hover {
    border: 6px solid #73b0ff;
    background-color: #73b0ff;
    transition: .3s;
}
#website {
    margin-bottom: 18px;
}
#budget {
    color: #fff;
    width: 365px;
    height: 71px;
    outline:none;
    border-radius: 100px;
border: 6px solid #57A0FF;
background: transparent;
justify-content: left;
margin-top: 18px;
cursor: pointer;
font-size: 24px;
padding-left: 10px;
padding-right: 10px;
}
#budget option {
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    color: black;
}
.graphic-container form select {
    color: #fff;
    width: 365px;
    height: 71px;
    outline:none;
    border-radius: 100px;
border: 6px solid #57A0FF;
background: transparent;
margin: 18px;
}
#select {
    font-size: 24px;
    text-align: center;
}
#select option {
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    color: black;
}
.textwebsite {
    color: white;
    text-align: left;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 280px;
}
#select2 {
    background-color: transparent;
    width: 72px;
    height: 98px;
    flex-shrink: 0;
    border-radius: 100px;
border: 6px solid #57A0FF;
margin-bottom: 30px;
color: white;
}
#select2 option {
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    color: black;
}
.pozadinskaslika2 {
    margin-top: -630px;
    position: relative;
    z-index: -1;
    width: 60%;
    float: right;
}
.kontaktnimanjinaslovi {
    color: #FFF;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
margin-bottom: 20px;
text-transform: uppercase;
}
@media (max-width: 1300px) {
    .pozadinskaslika2 {
        margin-top: -720px;
        width: 100%;
    }
}
@media (max-width: 1000px) {
    .pozadinskaslika2 {
        margin-top: -570px;
        width: 100%;
    }


}
@media (max-width: 800px) {
    .pozadinskaslika2 {
        margin-top: -420px;
    }
    .website-container form {
        max-width: 900px;
        height: 900px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 200px;
    }
    .website-container form #fullname3, #company3, #email3, #pnumber3, #website3 {
    margin: 10px;
    }

#hosting {
    color: #fff;
    width: 28px;
    height: 28px;
    border: 6px #57A0FF;
    margin-top: 30px;
    border-radius: 10px;
}
.dugmicitext  {
    font-size: 20px;
    color: #fff;
    margin-top: 28px;
    margin-right: 6px;
    margin-left: 240px;
}
.website-container form textarea {
        width: 82%;
        height: 400px;
        padding: 10px 100px;
        margin-bottom: 12px;
        transition: .3s;
        text-align: left;
        padding-left: 60px;
        padding-right: 60px;
}
#buttonsend3 {
    width: 160px;
    height: 61px;
    background-color: #57A0FF;
	color: #1E0B1E;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    border: 6px solid #57A0FF;
    border-radius: 100px;
    margin-top: 1px ;
}
}
@media (max-width: 500px) {
    .pozadinskaslika2 {
        margin-top: -280px;
    }
    .website-container form {
        height: 600px;
    }
    .website-container form textarea {
        width: 90%;
        border-radius: 60px;
        border: 5px solid #57A0FF;
        height: 250px;
    }
    .website-container form #fullname3, #company3, #email3, #pnumber3, #website3 {
        width: 70%;
        height: 61px;
        border-radius: 100px;
    border: 5px solid #57A0FF;
    margin: 5px;
    }
    #buttonsend3 {
        margin-top: 0px ;
    }
    .website-container form input::placeholder {
        font-size: 18px;
        text-align: center;
    }
    .website-container form textarea::placeholder {
        font-size: 20px;
        text-align: center;
        padding-top: 10px;
    }
}